body, dl, dd, h1, h2, h3, h4, h5, h6, p, form,li{margin:0;}  
 ol{margin:0; padding:0;border:0;}
 #nav_left .sy{
	background: rgb(0,188,212);
	color:rgb(51,51,51);
}

#nav_top .xhykzzhsy{
	color:rgb(0,140,212);
}

.announcement{
	position: relative;
	height:250px;
	width:100%;
}
.announcement .title{
	position: relative;
	color:rgb(102,102,102);
	font-size: 28px;
	margin-left:45px;
	top: 20px;
	height:40px;
	width:58px;
	border-bottom: 3px solid rgb(0,188,212);
}
.announcement .box{
	position: relative;
	display: inline-block;
	margin-top:35px;
	height:150px;
	width:47%;
	vertical-align: top;
}
.position_a{
	margin-left: 25px;
	border-right:1px solid #888;
}
.announcement .cell{
	height:30px;
	width:100%;
	color:rgb(51,51,51);
	font-size: 15px;
	margin-left: 20px;
}
.announcement .time{
	float:right;
	color:rgb(0,188,212);
	margin-right: 40px;
}
.introduction{
	position: relative;
	height:311px;
	width:100%;
}
.introduction .title{
	position: relative;
	color:rgb(102,102,102);
	font-size: 28px;
	margin-left:45px;
	top: 50px;
	border-bottom: 3px solid rgb(0,188,212);
	width:58px;
}

.introduction .box{
	position: relative;
	height:220px;
	width:95%;
	top:50px;
	color:#000;
	font-size: 14px;
	text-indent: 2em;
	margin-left: 45px;

}
